body{
    margin: auto;
    height: 100%;
    font-size: 16px;
}

section div.kontakt_background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 15, 19, 36, 0.73 );
    z-index: 99998;
    font-family: 'Signika',"sans-serif";
    display: none;
}

section div.kontakt{
    width: 74%;
    height: 70vh;
    position: absolute;
    background-color: white;
    top: 15vh;
    left:13%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
    z-index: 99999;
}

section div.kontakt div.mapa{
    background: transparent url('./img/telefon.jpg') no-repeat 50% 50%/cover ;
    height: 100%;
    width: 40%;
    overflow: hidden;
}

section div.kontakt div.formularz{
    height: 100%;
    width: 60%;
    margin-left: 40%;
    position: absolute;
    top: 0;
    padding: 5% 0 5% 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

section div.kontakt div.formularz h3{
    position: absolute;
    top: 0;
    right: 5%;
}

section div.kontakt div.formularz input{
    width: 40%;
    padding: 2px;
    margin: 2px;
}

section div.kontakt div.formularz textarea{
    width: 90%;

}

section div.kontakt div.formularz h2 span{
    color: #7DBA2F;
}

section div.kontakt div.close{
    padding: 10px 15px;
    font-size: 0.938em;
    background: #91da32;
    position: absolute;
    color: white;
    top: 20px;
    right:-45px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;

}

section div.kontakt div.close:hover{
    background: #7DBA2F;
}


section.nav{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #2C3459 ;

}

section.nav div.top ul{
    text-align: right;
    margin-right: 10%;
    padding: 0;
}

div.top ul li a{
    text-decoration: none;
    color: #a4adca;
}

section.nav div.top ul li{
    display: inline-block;
    text-align: right;
    padding: 0 1.250em;
    font-size: 0.875em;
    color: #a4adca;
    cursor: pointer;
}

section.nav div.top ul li:hover, div.top ul li a:hover{
color:white;
}

section.nav div.ikons{
    background: white;
}

section.nav div.ikons ul{
    padding: 0.75em 1em;
    margin: 0;

}

section.nav div.ikons ul li{
    display: inline-block;
    margin: 0 0.750em;
    text-align: center;
}

section.nav div.ikons li:hover i{
    color:#7DBA2F;
    transition: color 0.3s;
}

section.nav div.ikons a{
    font-size: 1em;
    text-decoration: none;
    color:#2C3459;
}

section.nav div.ikons a i{
    font-size: 2.250em;
}


section.main, section.startSite{
    margin-top: 8.595em;
}

section.main{
    position: relative;
    left: 0;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 7.5em;
    box-sizing: border-box;
}

section.main div.firmoweFoto{
    position: absolute;
    top: 0;
    right: -10%;
    width: 60%;
}

section.main div.obrazek{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: -20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

section.main div.image {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: 0;
}

section.main div.kafelka{
    display:block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: inherit;
    background-position: inherit;
    background-repeat: no-repeat;
}

section.main div.contextFirma{
    position: relative;
    width: 40%;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section.main div.context{
    position: relative;
    left: 60%;
    width: 40%;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section.main div.context h1, div.formularz h1, div.contextFirma h1{
    color: #7DBA2F;
    font-size: 0.813em;
    font-weight: 800;
    font-family: 'Signika',"sans-serif";
    padding-bottom: 15px;
    border-bottom: 3px solid #7DBA2F;
    display: inline-block;
}

section.main div.context h2, div.contextFirma h2, div.descriptions h2, div.formularz h2, div.formularz h3{
    color:#2C3459;
    font-size: 2.250em;
    font-family: 'Signika',"sans-serif";
}

div.formularz h3{
    font-size: 1.875em;
}

div.formularz h4{
    font-size: 1em;
}

section.main div.context button, div.formularz button {
    margin: 0.83em;
    border: 1px solid #2C3459;
    color: #2C3459;
    background: #fdfdfd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 25px;
    height: 49px;
    font-size: 0.875em;
    cursor: pointer;
}

section.main div.context button:hover, div.formularz button:hover{
    background: #7DBA2F;
    color: #fff;
    transition: color 0.6s, background 0.6s;
}

section.main div.context p, div.contextFirma p, div.context ul li, div.descriptions p, div.descriptions ul li {
    color:#9498ab;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Signika',"sans-serif";
    line-height: 26px;
}

section.main section.main button{
    display: block;
}

section.main div.context div.longButton{
display: inline-block;
    height:20px;
    margin: 2px 2px;
}

section.main div.descriptions{
    margin: 5% 0 0 25%;
}


section.ftr{
    position: fixed;
    width: 100%;
    margin-bottom: -7.75em;
    bottom: 0px;
    padding-left: 20px ;
    background: white;
    border-top: 1px solid #eee;;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

section.ftr div.column{
    width: 33%;
    float: left;
}

section.ftr i {
    margin-right: 15px;
}

section.ftr p{
    font-size: 1em;
    color: #9498ab;
}

section.ftr h2{
    color: #7DBA2F;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Signika',"sans-serif";
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section.ftr h3{
    font-size: 1.125em;
    color: #2C3459;
}


section.startSite{
    background:transparent  50% 50%/cover no-repeat;
    position: relative;
    height: calc(100vh - 12.13em);
    overflow: hidden;
}

.tlo1{
    background-image: url("./img/tlo1.jpg") !important;
    transition: background-image 3s;
}

.tlo2{
    background-image: url("./img/tlo2.jpg") !important;
    transition: background-image 3s;
}

section.startSite div.green_box{
    color: #fff;
    background: rgba(145, 218, 50, 0.85);
    padding: 20px;
    font-family: 'Signika',"sans-serif";
    width: 300px;
}

section.startSite div.green_box h1{
    font-size: 1.313em;
    font-weight: 600;
    text-align: center;
}

section.startSite div.green_box h2{
    font-size: 1em;
    font-weight: 200;
}

section.startSite div.box1{
    position: relative;
}

section.startSite div.box2{
    position: absolute;
    bottom: 0;
    right: 0;
}

section.startSite div.heading{
    color: #2C3459;
    margin: 200px 40% 0 155px;
    font-family: 'Signika',"sans-serif";
}

section.startSite div.heading h1{
    font-size: 2.625em;
    font-weight: 700;
}

section.startSite div.heading h2{
    font-size: 1.625em;
    font-weight: 300;
}

section.startSite div.heading h1:first-of-type, section.startSite div.heading h2:first-of-type,
section.startSite div.box2 h1:first-of-type, section.startSite div.box2 h2:first-of-type{
    display: none;
}



@media only screen and (max-width: 480px) {
    body { font-size: 11px;}
}
@media only screen and (min-width: 480px) {
    body { font-size: 12px;}
}
@media only screen and (max-width: 685px){
    section.nav div.ikons {display: none}
    section.ftr {display: none}
    section.main, section.startSite{
        margin-top: 2.875em;
    }
    section.main div.obrazek{
        top:4.268em;
    }

}
@media only screen and (min-width: 768px) {
    body { font-size: 13px;}
}
@media only screen and (max-width: 850px) {
    section.nav div.ikons a{font-size: 0.9em}
}
@media only screen and (max-width: 928px) {

    section.nav div.ikons ul li{margin: 0 0.5em}
}
@media only screen and (min-width: 1000px) {
    body { font-size: 14px;}
}
@media only screen and (min-width: 1170px) {
    body { font-size: 15px;}
    section.main div.context h2{
        margin: 0.5em;
    }
}
@media only screen and (min-width: 1340px) {
    body { font-size: 16px; }
    section.main div.context{min-height: 410px}
}
@media only screen and (min-width: 1580px) {
    body { font-size: 17px; }
    section.main div.context{min-height: 600px}
}




